<form method="post" action="">
	<div class="form-group">
		<label><%= ace.i18n('Select a component for panel ') + panelId %>:</label>
		<select class="form-control" name="componentSelection">
			<% for (var i = 0; i < page.panels.length; i += 1) {
				if (page.panels[i].id === panelId) {
					for (var j = 0; j < page.panels[i].components.length; j += 1) { %>
						<option value="<%= page.panels[i].components[j] %>"><%= page.panels[i].components[j] %></option>
					<% }
				}
			} %>
		</select>
	</div>
	<button id="<%= id %>-submit" class="btn btn-primary"><%= ace.i18n('Assign Component') %></button>
</form>
<div class="component-listing">
	<ul>
		<% for (var i = 0; i < page.panels.length; i += 1) {
			if (typeof page.panels[i].assigned !== 'undefined' && page.panels[i].id === panelId && page.panels[i].assigned.length > 0) {
				for (var j = 0; j < page.panels[i].assigned.length; j += 1) { %>
		   			<li>
						<h4>ID: <%= page.panels[i].assigned[j].id %></h4>
						<p><%= page.panels[i].assigned[j].description %></p>
						<div>
							<a href="<%= './' + page.name + '/panels/' + page.panels[i].id + '/components/' + page.panels[i].assigned[j].id %>" title="" class="" data-component-action="remove">Remove Component</a>
						</div>
					<li>
				<% }
			}
		} %>
	</ul>
</div>
