<!-- Client Side Footer Scripts Required for Authoring -->
<script src="/js/core/require.min.js"></script>
<script>
	requirejs.config({
		baseUrl: '../../js',
		paths: {
			jquery: 'core/jquery',
			bootstrap: 'core/bootstrap.min',
			ace: 'core/ace.client',
			// dynamically create this via .getTemplateWidgets
			addOne: 'core/widgets/addOne'
		}
	});

	require(['jquery', 'ace'], function($, Ace) {
		'use strict';

		$(document).ready(function() {
			var page = <%- JSON.stringify(page) %>,
			site = <%- JSON.stringify(page) %>,
			testUser = {
				username: 'gblooth',
				firstName: 'Gob',
				lastName: 'Blooth',
				email: 'gob@blooth.com',
				role: 'admin'
			};

			new Ace(testUser, site, page);
		});
	});
</script>