<div class="modal fade" id="<%- id %>" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4><%- header %></h4>
			</div>
			<div class="modal-body"><%- body %></div>
			<div class="modal-footer">
				<a href=""><%- footer %></a>
			</div>
		</div>
	</div>
</div>
