<div id="ace-pagebar">
	<div id="ace-pagebar-inner">
		<div class="pull-right">
			<button class="btn btn-primary">Edit Page Meta</button>
			<button class="btn btn-danger">Publish Page</button>
			<button class="btn btn-info" disabled="disabled">Save Page as PDF</button>
		</div>
	</div>
</div>