/* Ace Authoring Core */
html, body {
margin: 0 auto;
padding: 0;
}
#ace ul {
list-style: none;
list-style-type: none;
padding: 0;
margin: 0;
}
#ace ul li {
padding: 0 0 .25em 0;
}
#ace-pagebar {
width: 100%;
padding: .5em;
border-bottom: 1px solid #222;
background-color: #eee;
display: inline-block;
}
#ace-pagebar-inner {

}
.panel-empty {
border: 1px solid red;
min-height: 1em;
}
.panel-empty:hover {
background-color: red;
cursor: pointer;
}
