		</div>
	</div>
	<script src="/js/core/require.min.js"></script>
	<script>
		requirejs.config({
			baseUrl: '../../js',
			paths: {
				jquery: 'core/jquery',
				bootstrap: 'core/bootstrap.min'
			}
		});
	</script>
</body>
