<!DOCTYPE html>
<head>
	<title>
		<% if (title) { %>
			<%= title %> - Ace Authoring
		<% } else { %>
			Ace Authoring
		<% } %>
	</title>
	<link rel="stylesheet" href="/css/core/bootstrap.min.css" />
	<link rel="stylesheet" href="/css/core/bootstrap-theme.min.css" />
	<link rel="stylesheet" href="/css/core/styles.css" />
</head>
<body>
	<div id="ace" class="container l-pad">
		<div class="row">