<!doctype html>
<html>
	<% include header.html %>
		<div id="site-selector" class="col-md-12 text-center">
			<form id="site-selector-form" method="post" action="/siteSelection" class="form-inline">
				<div class="form-group">
					<label class="sr-only">Site Name:</label>
					<select class="form-control">
						<option value="<%= config.sites[0].id %>"><%= config.sites[0].name %></option>
						<% for (var i = 1; i < config.sites.length; i += 1) { %>
							<option value="<%= config.sites[i].id %>"><%= config.sites[i].name %></option>
						<% } %>
					</select>
				</div>
				<div class="form-group">
					<label class="sr-only">Site Instance:</label>
					<select class="form-control">
						<option value=""><%= config.sites[0].instances[0].id + ' (' + config.sites[0].instances[0].language + ')' %></option>
						<% for (var i = 1; i < config.sites[0].instances.length; i += 1) { %>
							<option value="<%= config.sites[0].instances[i] %>">
								<%= config.sites[0].instances[i].id + ' (' + config.sites[0].instances[i].language + ')' %>
							</option>
						<% } %>
					</select>
				</div>
				<button class="btn btn-primary">Load Site</button>
			</form>
		</div>

		<div id="ace-page-listing" class="col-md-6">
			<h1><%= ace.config.name %> Pages</h1>
			<p>
				New pages are defined in the <strong>ace/view/pages</strong> directory.
				You can also <a href="/ace/site">Manage site-wide settings</a>.
			</p>
			<table class="table">
				<tr>
					<th>Name</th>
					<th>Actions</th>
				</th>
				<tbody>
					<% for (var i = 0; i < pages.length; i += 1) { %>
						<tr class="page-link">
							<td>
								<a href=<%= '/page/' + pages[i].replace('.tpl', '')  + '?mode=preview'%> alt="">
									<%= pages[i].replace('.tpl', '.html') %>
								</a>
							</td>
							<!-- Defining Page Actions -->
							<td>
								<button class="btn btn-primary">Edit In Futon</button>
								<button class="btn btn-primary">Clear Page</button>
								<button class="btn btn-primary">Build</button>
							</td>
						</tr>
					<% } %>
				</tbody>
			</table>
		</div>

		<div class="col-md-4 col-md-offset-2">
			<h2>Tools</h2>
			<div>
				<h4>Site Tools</h4>
				<form action="" method="POST">
					<ul>
						<li><button name="buildPageProfiles" class="btn btn-primary">Build Site</button></li>
						<li><button name="deleteSite" class="btn btn-primary">Delete Site Folder</button></li>
					</ul>
				</form>
			</div>
			<div>
				<h4>Page Tools</h4>
				<form action="" method="POST">
					<ul>
						<li><button name="deletePageProfiles" class="btn btn-primary">Delete Page Profiles</button></li>
					</ul>
				</form>
			</div>
			<div>
				<h4>Panel Tools</h4>
				<form action="" method="POST">
					<ul>
						<li><button name="deletePageProfiles" class="btn btn-primary">View Site Panels</button></li>
					</ul>
				</form>
			</div>
			<div>
				<h4>Component Tools</h4>
				<form action="" method="POST">
					<ul>
						<li><button name="deletePageProfiles" class="btn btn-primary">View Site Components</button></li>
					</ul>
				</form>
			</div>
		</div>

		<div class="col-md-12">
		</div>
	<% include footer.html %>
</html>	
